@model Quarto
@{
    ViewData["Title"] = "Check In";
    string[] str = Model.Descricao.Split(',');
    ClienteRepo cr = new ClienteRepo();
}

<h2>Fazendo Check In</h2>

<div class="text-center">
    <h3 class="subTitulo">
        Quarto @Model.Numero
    </h3>
    <h5>Descrição</h5>
    <ul class="quartoDescricao">
        @foreach (string item in str)
        {
            if (item.ToUpper().Contains("CAMA"))
            {
                <li><i class="fas fa-bed" style="margin-right: 10px;"></i>@item.Trim()</li>
            }
            else if (item.ToUpper().Contains("TV"))
            {
                <li><i class="fas fa-tv" style="margin-right: 10px;"></i>@item.Trim()</li>
            }
            else if (item.ToUpper().Contains("CONDICIONADO"))
            {
                <li><i class="fas fa-snowflake" style="margin-right: 10px;"></i>@item.Trim()</li>
            }
            else
            {
                <li><i class="fas fa-star" style="margin-right: 10px;"></i>@item.Trim()</li>
            }
        }
    </ul>

    <form asp-action="CheckIn" method="post">
        <input type="hidden" asp-for="idQuarto">
        <input type="hidden" asp-for="Numero">
        <input type="hidden" asp-for="Status" value="Ocupado">
        <p>
            <label asp-for="cliente.idCliente">Cliente</label>
            <select asp-for="cliente.idCliente">
                @foreach (var item in cr.Listar())
                {
                    <option value="@item.idCliente">@item.Nome - @item.CPF</option>
                }
            </select>
        </p>

        <p>
            <label asp-for="CheckIn">Check In</label>
            <input asp-for="CheckIn" type="date" id="from" value="@DateTime.Today.ToString("yyyy-MM-dd")" readonly
                disabled>
        </p>

        <p>
            <label asp-for="CheckOut">Check Out</label>
            <input asp-for="CheckOut" type="date" id="to" onchange="CompareDates()">
        </p>

        <input class="btn btn-secondary" type="submit" value="Check In" id="subBtn" disabled>
        <p id="alerta" style="color: red; display: none">Data de Check Out deve ser posterior à data de Check In!</p>
    </form>
</div>